<Template name="SocketConsole">
  <table class="white black-text">
        <thead>
          <tr>
              <th data-field="id">IP</th>
              <th data-field="time">Time</th>
              <th data-field="message">Message</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>
          <tr>
            <td>127.0.0.1</td>
            <td>12:03:01</td>
            <td>THIS_IS_A_TEST_PACKET_SENT_BY_NOONE_AND_WAS_JUST_HARD_CODED_TO_TEST_STYLE_AND_LOOK_SO_PLEASE_IGNORE!</td>

          </tr>

        </tbody>
      </table>
</Template>
