<template name="SocketMini">
  <div class="col s6 m4">
          <div class="card red darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{name}}</span>
              <p>Type: {{type}}</p>
              <p>Port: {{port}}</p>
              <p>Status: {{status}}</p>
              <p>Time Left: {{timeleft}}</p>
              <hr />
              <p>Last Message: {{lastMessage}}</p>

            </div>
            <div class="card-action red darken-3">
              <a class=" white-text" href="/socket/{{_id}}">Open Full View</a>
              <a class=" white-text" href="#">Extend</a>
              <a class=" white-text" href="#" id='delete'>Delete</a>
            </div>
          </div>
        </div>
</template>
