<Template name="SocketNew">
  <form class="new-socket">
  <div class="row">
    <div class="input-field col s2">
      <input placeholder="Name" id="name" type="text" class="validate" length="10">
    </div>
    <div class="input-field col s1">
      <input placeholder="Port" id="port" type="number"  min="2000" max="10000" value="3030">

    </div>
    <div class="input-field col s1">
      <select class="browser-default" id="socketType">
        <option value="" disabled selected>Socket Type</option>
        <option value="UDP">UDP</option>
        <option value="TCP">TCP</option>
        <option value="WEB">WebSockets</option>
      </select>
    </div>
    <div class="input-field col s2">
      <button class="btn waves-effect waves-light red" type="submit" name="action">Submit</button>
    </div>

  </div>
</form>

<script>
$(document).ready(function() {
  $('input#name').characterCounter();
});</script>
</Template>
